.publicacionGrid {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}
.publicacionGrid__titulo {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}
.publicacionGrid__titulo::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #33333336;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.publicacionGrid-contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem; /* Aumenta el espacio entre las tarjetas */
  margin-bottom: 1rem;
}

.tarjeta {
  border: 1px solid #ddd; /* Agrega un borde a las tarjetas */
  border-radius: 4px;
  width: 300px; /* Ajusta el ancho de las tarjetas */
  margin: 4rem;
}

.tarjeta__foto-contenedor {
  width: 150px; /* Ajusta el ancho de las imágenes */
  height: 150px; /* Ajusta la altura de las imágenes */
  border-radius: 5px;
  overflow: hidden;
}

.tarjeta__descripcion {
  max-height: 100px; /* Limita la altura de las descripciones */
  overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado largo */
}

.tarjeta__boton-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
  }
  .tarjeta__boton {
    cursor: pointer;
    text-align: center;
    border: 0;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
  }
  .tarjeta__boton--chat {
    transition: opacity 0.2s;
    background-color: #2a3e96;
    color: #fafafa;
  }
  .tarjeta__boton--chat:hover {
    opacity: 0.6;
  }
  
  .tarjeta__boton--seguir {
    transition: all 0.2s;
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
  }
  .tarjeta__boton--seguir:hover {
    background-color: #333333;
    color: #fff;
  }

@media (min-width: 768px) {
  .publicacionGrid-contenedor {
    flex-direction: row;
    gap: calc(
      2rem + var(--gap)
    ); /* Aumenta el espacio entre las tarjetas en pantalla completa */
    justify-content: center; /* Centra las tarjetas en la fila */
    align-items: center; /* Centra las tarjetas en la columna */
    max-width: calc(
      100% - (2 * var(--gap))
    ); /* Ajusta el ancho máximo del contenedor de tarjetas */
    margin-left: auto; /* Centra el contenedor de tarjetas en la página */
    margin-right: auto; /* Centra el contenedor de tarjetas en la página */
    gap: var(--gap); /* Ajusta el espacio entre las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas si es necesario */
    padding-top: var(
      --gap
    ); /* Añade un espacio en la parte superior del contenedor de tarjetas */
    padding-bottom: var(
      --gap
    ); /* Añade un espacio en la parte inferior del contenedor de tarjetas */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del contenedor de tarjetas */

    .tarjeta {
      flex-basis: calc(
        (100% / var(--columns)) - var(--gap)
      ); /* Ajusta el ancho de las tarjetas para que se ajusten al número deseado de columnas */
      max-width: calc(
        (100% / var(--columns)) - var(--gap)
      ); /* Asegura que las tarjetas no sean más anchas que el ancho calculado */
      box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el ancho de las tarjetas */
      margin-bottom: var(--gap); /* Añade un espacio debajo de cada tarjeta */
    }
  }
}
