header{
    color: white;
    /* background: #37387a; */
    background: #FFDA99;
    background-image: url('../Images/Header_CommunityEngagement.jpg');
    min-height: 50vh;
    padding-top: 20vh;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


header h1{
    font-size: 3rem;
    margin: 0 0 1rem;
    color:#FFDA99;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

header h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: black;
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
}

header p{
    color: black;
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
}